
body{
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader{
	font-size: 50px;
	display: flex;
	flex-direction: column;
	transform-origin: top;

	animation: balance 2s infinite linear;
}

.pend{
	width: 50px;
	height: 50px;
	background: silver;
	border-radius: 0 50% 50% 50%;
	transform: rotate(45deg);
	margin-top: 10px;
}

@keyframes balance {
	0% {transform: rotate(0);}
	20% {transform: rotate(23deg);}
	25% {transform: rotate(25deg);}
	35% {transform: rotate(27deg);}
	60% {transform: rotate(-23deg);}
	65% {transform: rotate(-25deg);}
	75% {transform: rotate(-27deg);}
	100% {transform: rotate(0);}	
}